$default-font: Arial, sans-serif;

$main-background-color: #FFFFFF;
$primary-font-color: #0C0C0C;
$secondary-font-color: #575757;

$button-background: #F20917;
$button-label-color: #FFFFFF;
$link-color: #7CB743;

$navigation-bar-background: #444444;
$navigation-bar-input-color: #CBCBCB;