@import '../../../sass/theme';

.search-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
  color: $button-label-color;
  z-index: 3;

  :global(svg){
    font-size: 1.25em;
  }

  &:visited {
    color: $button-label-color;
  }
}